
SiADi/obj/Debug/SiADiUI.csprojAssemblyReference.cache
.vs/SiADi/v16/.suo
SiADi/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
.vs/SiADi/v16/.suo
SiADi/bin/Debug/SiADi.exe
SiADi/bin/Debug/SiADi.pdb
SiADi/bin/Debug/SiADi.exe
SiADi/obj/Debug/SiADi.AreasAñadir.resources
SiADi/obj/Debug/SiADi.AreasModificar.resources
SiADi/obj/Debug/SiADi.AsistenciasInformeGral.resources
SiADi/obj/Debug/SiADi.AsistenciasInformeInd.resources
SiADi/obj/Debug/SiADi.AsistenciasModificar.resources
SiADi/obj/Debug/SiADi.AsistenciasRegistrar.resources
SiADi/obj/Debug/SiADi.CargosAñadir.resources
SiADi/obj/Debug/SiADi.CargosModificar.resources
.vs/SiADi/v16/.suo
SiADi/bin/Debug/SiADi.exe
SiADi/bin/Debug/SiADi.pdb
SiADi/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
SiADi/obj/Debug/SiADi.exe
SiADi/obj/Debug/SiADi.Form1.resources
SiADi/obj/Debug/SiADi.Form2.resources
SiADi/obj/Debug/SiADi.Form3.resources
SiADi/obj/Debug/SiADi.pdb
SiADi/obj/Debug/SiADi.Properties.Resources.resources
.vs/SiADi/v16/.suo
SiADi/bin/Debug/SiADi.exe
SiADi/bin/Debug/SiADi.pdb
SiADi/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
SiADi/obj/Debug/SiADi.UsuariosAñadir.resources
SiADi/obj/Debug/SiADi.UsuariosModificar.resources
SiADi/obj/Debug/SiADiUI.csproj.CoreCompileInputs.cache
SiADi/obj/Debug/SiADiUI.csproj.FileListAbsolute.txt
SiADi/obj/Debug/SiADiUI.csproj.GenerateResource.cache
SiADi/obj/Debug/SiADiUI.csprojAssemblyReference.cache
.vs/SiADi/v16/.suo
SiADi/bin/Debug/SiADi.exe
SiADi/bin/Debug/SiADi.pdb
SiADi/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
SiADi/obj/Debug/SiADiUI.csprojAssemblyReference.cache
SiADi/bin/Debug/SiADi.exe.config
