
*.cache
SiADi/obj/Debug/SiADiUI.csproj.FileListAbsolute.txt
SiADi/obj/Debug/PlayerUI.UsuariosModificar.resources
SiADi/obj/Debug/PlayerUI.UsuariosAñadir.resources
SiADi/obj/Debug/PlayerUI.Properties.Resources.resources
SiADi/obj/Debug/PlayerUI.pdb
SiADi/obj/Debug/PlayerUI.Form3.resources
SiADi/obj/Debug/PlayerUI.Form2.resources
SiADi/obj/Debug/PlayerUI.Form1.resources
SiADi/obj/Debug/PlayerUI.exe
SiADi/obj/Debug/PlayerUI.CargosModificar.resources
SiADi/obj/Debug/PlayerUI.CargosAñadir.resources
SiADi/obj/Debug/PlayerUI.AsistenciasRegistrar.resources
SiADi/obj/Debug/PlayerUI.AsistenciasModificar.resources
SiADi/obj/Debug/PlayerUI.AsistenciasInformeInd.resources
SiADi/obj/Debug/PlayerUI.AsistenciasInformeGral.resources
SiADi/obj/Debug/PlayerUI.AreasModificar.resources
SiADi/obj/Debug/PlayerUI.AreasAñadir.resources
SiADi/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
SiADi/bin/Debug/PlayerUI.pdb
SiADi/bin/Debug/PlayerUI.exe.config
SiADi/bin/Debug/PlayerUI.exe
SiADi/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
