SiADi/obj/Debug/
SiADi/bin/Debug/
.vs/SiADi/v16/.suo
.idea/.idea.SiADi/.idea/encodings.xml
.idea/.idea.SiADi/.idea/contentModel.xml
.idea/.idea.SiADi/.idea/codeStyles/codeStyleConfig.xml
.idea/.idea.SiADi/.idea/indexLayout.xml
.idea/.idea.SiADi/.idea/modules.xml
.idea/.idea.SiADi/.idea/projectSettingsUpdater.xml
.idea/.idea.SiADi/.idea/vcs.xml
.idea/.idea.SiADi/.idea/workspace.xml
.idea/.idea.SiADi/riderModule.iml
SiADi.sln.DotSettings.user
SiADi.sln.DotSettings.user
